# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build
build/
dist/

# .NET build folders
bin/
obj/


# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

.vs/
.vscode/